{% extends "base.html" %}

{% block content %}
    <!-- <div class="head-container">
        <h1>Welocome to Blogs Page</h1>        
    </div> -->

    <form method="GET" class="forms">
        <input type="text" name="search-area" value="{{ search_input }}" class="input-fields"> 
        <button type="submit" class="action-buttons search">Search</button>
    </form>

    <form method="GET" class="forms">
        <select name="filter_tags" id="filter_tags" class="input-fields">
            {% if tag_input %}
                <option value="{{ tag_input }}">{{ tag_input }}</option>
            {% endif %}
            <option value="">All</option>
            {% for tag in taglist %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select>
        <button class="action-buttons filter" type="submit">Filter</button>
    </form>
    <button class="action-buttons addquery"><a href="./writeblogs">Write New Blog</a></button>
    <br>
    <div class="post-container">
        {% for content in contents reversed %}
        {% if content.author != user.username %}
        <div class="data-card bk w50">
            <h3><a href="{% url 'readblogs' content.id %}">{{ content.blogtopic }}</a></h3>
            <p><b>@{{ content.author }}</b></p>
            <p>#{{ content.tag }}</p>
        </div>
            
        {% endif %}
            <!-- {% if content.author == user.username %}
            <button><a href="{% url 'editblogs' content.id %}">Edit Blog</a></button>
            <button><a href="{% url 'deleteblogs' content.id %}">Delete Blog</a></button>
        {% endif %} -->

    {% endfor %}
    </div>
    
{% endblock %}