{% extends "base.html" %}

{% block content %}
<!-- <div class="text-container">
        <h1 class="welcome-text">
            Welcome to SSN Alumni Portal System
            <p style="font-size: 1rem;margin-top: 2rem;" align="justify">
                Students find it difficult to connect with their Alumni. This project aims at creating a website for students to connect with their alumni in the college and gain knowledge related to their domain. The project will also help the alumni to find out their future prospects in the domain. The website would be interactive as it will have a discussion forum and database for the alumni. It will serve as a link between present students and their Alumini, who are working professionals in different domains of life. This will motivate the students to achieve higher goals in life. By doing this project I wish to contribute my bit towards the betterment of the society.

                As technology is playing an important role in
            </p>
        </h1>
    </div> -->
<!-- Google font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i,700,700i,900">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!-- icofont -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionic/1.3.2/css/ionic.css">
<!-- carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">


<section class="blog_section">
    <div class="container">
        <div class="blog_content">
            <div class="owl-carousel owl-theme">
                {% for content in contents reversed %}
                <div class="blog_item">
                    <div class="blog_image">
                        <img class="img-fluid" src="./media/{{ content.eventImg }}" alt="images not found">
                        <span><i class="icon ion-md-create"></i></span>
                    </div>
                    <div class="blog_details">
                        <div class="blog_title">
                            <h5>{{ content.eventTopic }}</h5>
                        </div>
                        <ul>
                            <li><i class="icon ion-md-person"></i>{{ content.eventOrganizer }}</li>
                            <li><i class="icon ion-md-calendar"></i>{{ content.eventDate }}</li>
                        </ul>
                        <p>{{ content.eventDesc }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- <button class="action-buttons addquery" style="margin: 3rem;"><a href="./uploadevent">New Event</a></button> -->
        <div class="post-container" style="margin: 2rem;">
        </div>
</section>

</div>


<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- carousel -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="../static/app.js"></script>
{% endblock %}