{% extends "base.html" %}

{% block content %}
<div class="head-container">
    <div class="modal-dialog modal-dialog-scrollable data-card bk">
        <h3>{{ content.query }}</h3>
        <p><b>@{{ content.author }}</p>
        <p>#{{ content.tag }}</p>
    </div>

    <div class="data-card bk">
        <h3>Answers</h3>
        {% if not content.comments.all %}
            <p>No Answers</p>
        {% else %}
            
            {% for comment in content.comments.all %}
            <div class="comment">
                <p><strong>@{{ comment.answerauthor }}</strong> - {{ comment.answer }}</p>
            </div>
            {% endfor %}
            
        {% endif %}   
        <form method="POST">
            {% csrf_token %}
            <div class="mar">
                {{ form.answer }}
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</div>
{% endblock %}